/*------------------------------------*\
	$MAIN
\*------------------------------------*/
@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('../fonts/novecentowide-book/novecentowide-book.eot');
    src: url('../fonts/novecentowide-book/novecentowide-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-book/novecentowide-book.woff') format('woff'),
         url('../fonts/novecentowide-book/novecentowide-book.ttf') format('truetype'),
         url('../fonts/novecentowide-book/novecentowide-book.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#page{
	font-family: 'NovecentowideBookRegular';
	font-size:20px;
	color:#C5C5C5;
}

#content{
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

.pages{
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#production{
	background: green;
}
#consommation{
	background: yellow;
}
<<<<<<< HEAD
#sante{
	background: pink;
}
#environnement{
	background: black;
}
#internet{
	background: brown;
}
#divers{
	background: red;
=======

/*------------------------------------*\
	$PART 1
\*------------------------------------*/
#production_mondial{
	width:960px;
	height:760px;
	background: #DDD ;
}
#import_export{
	width:820px;
	margin:100px auto;
}
#biere_import{
	float:left;
	text-align:right;
	margin-left:200px;
}
#vin_import{
	float:right;
	margin-right:200px;
}
#production_pays{
	
>>>>>>> 5196571556e4c4ec7fb44b932a2ef4dc5e100d15
}