/*------------------------------------*\
	$MAIN
\*------------------------------------*/

#content{
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

.pages{
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#production{
	background: green;
}
#consommation{
	background: yellow;
}

/*------------------------------------*\
	$PART 1
\*------------------------------------*/
#production_mondial{
	width:960px;
	height:760px;
	background: #DDD ;
}
#import_export{
	
}
#production_pays{
	
}