/*------------------------------------*\
	$MAIN
\*------------------------------------*/
@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('../fonts/novecentowide-book/novecentowide-book.eot');
    src: url('../fonts/novecentowide-book/novecentowide-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-book/novecentowide-book.woff') format('woff'),
         url('../fonts/novecentowide-book/novecentowide-book.ttf') format('truetype'),
         url('../fonts/novecentowide-book/novecentowide-book.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideBold';
    src: url('../fonts/novecentowide-bold/novecentowide-bold.eot');
    src: url('../fonts/novecentowide-bold/novecentowide-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-bold/novecentowide-bold.woff') format('woff'),
         url('../fonts/novecentowide-bold/novecentowide-bold.ttf') format('truetype'),
         url('../fonts/novecentowide-bold/novecentowide-bold.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideLight';
    src: url('../fonts/novecentowide-light/novecentowide-light.eot');
    src: url('../fonts/novecentowide-light/novecentowide-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-light/novecentowide-light.woff') format('woff'),
         url('../fonts/novecentowide-light/novecentowide-light.ttf') format('truetype'),
         url('../fonts/novecentowide-light/novecentowide-light.svg#NovecentowideLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#page{
	font-family: 'NovecentowideBookRegular';
	font-size:20px;
	color:#C5C5C5;
}

#content{
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

.pages{
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#production{
	background: green;
}
#consommation{
	background: yellow;
}
#sante{
	background: pink;
}
#environnement{
	background: black;
}
#internet{
	background: brown;
}
#divers{
	background: red;
}

/*------------------------------------*\
	$PART 1 (greg)
\*------------------------------------*/
#production_mondial{
	width:960px;
	height:760px;
}

#vin_2,#biere_2,#graduation_2{
	display: inline-block;
}

#vin_2{
	min-width:106px;
}

#nbVin2, #nbBiere2{
	font-size:37.5px;
	font-family: 'NovecentowideBold';
	text-align:center;
}

#nbVin2{
	text-align:center;
}

#nbBiere2{
	width:205px;
	text-align:center;
}

/*------------------------------------*\
	$PART 1 (cedric)
\*------------------------------------*/
#import_export{
	width:820px;
	margin:100px auto;
}
#import_export li.diagram{
	width:60px;
	height:20px;
}
#biere_import li.diagram{
	background: url('../img/4_biere.png') repeat;
}
#vin_import li.diagram{
	background: url('../img/4_vin.png') repeat right;
}
#import_export li{
	clear:both;
}
#import_export span{
	font-family: 'NovecentowideLight';
	font-size:16px;
}
#import_export li.left{
	float:right;
}
#biere_import{
	float:right;
	margin-right:200px;
}
#vin_import{
	float:left;
	text-align:right;
	margin-left:200px;
}
#production_pays{
	
}