/*------------------------------------*\
	$MAIN
\*------------------------------------*/
@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('../fonts/novecentowide-book/novecentowide-book.eot');
    src: url('../fonts/novecentowide-book/novecentowide-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-book/novecentowide-book.woff') format('woff'),
         url('../fonts/novecentowide-book/novecentowide-book.ttf') format('truetype'),
         url('../fonts/novecentowide-book/novecentowide-book.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideBold';
    src: url('../fonts/novecentowide-bold/novecentowide-bold.eot');
    src: url('../fonts/novecentowide-bold/novecentowide-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-bold/novecentowide-bold.woff') format('woff'),
         url('../fonts/novecentowide-bold/novecentowide-bold.ttf') format('truetype'),
         url('../fonts/novecentowide-bold/novecentowide-bold.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideLight';
    src: url('../fonts/novecentowide-light/novecentowide-light.eot');
    src: url('../fonts/novecentowide-light/novecentowide-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-light/novecentowide-light.woff') format('woff'),
         url('../fonts/novecentowide-light/novecentowide-light.ttf') format('truetype'),
         url('../fonts/novecentowide-light/novecentowide-light.svg#NovecentowideLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#page{
	font-family: 'NovecentowideBookRegular';
	font-size:20px;
	color:#C5C5C5;
}

#content{
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

#content h2{
	font-family: NovecentowideBold;
	font-size: 38px;
	color: #a2d4dd;
	margin-left: 10px;
	margin-top: 5px;
	width: 410px;
	position: absolute;
}

.pages{
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.pages .subpages{
	display: block;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #f8f8f8 url('../img/background.jpg') repeat;
}

#menu{
	position: fixed;
	top: 50%;
	margin-top: -225px;
	width: 200px;
	height: 450px;
	z-index: 999;
	margin-left: 10px;
}

#menu .menu-item{
	width: 300px;
	float: left;
}
#menu .menu-item .menu-thumb{
		background: url('../img/menu_sprite.png') no-repeat;
		background-color: #393939;
		width: 61px;
		height: 62px;
		display: block;
		margin-bottom: 10px;
		float: left;
		border-radius: 30px;
}

#menu .menu-item .thumb1{
	background-position: -2px 0;
}
#menu .menu-item .thumb2{
	background-position: 0 -65px;
}
#menu .menu-item .thumb3{
	background-position: -2px -127px;
}
#menu .menu-item .thumb4{
	background-position: -2px -190px;
}
#menu .menu-item .thumb5{
	background-position: -2px -253px;
}
#menu .menu-item .thumb6{
	background-position: 0 -319px;
}


#menu .item-mask{
	display: block;
	overflow: hidden;
	width: 70px;
}
#menu .current-item{
	width: 70px;
}

#menu .menu-item .text-container{
	padding-top: 15px;
	padding-left: 70px;
}
#menu .menu-item .title-mask{
	overflow: hidden;
	height: 17px;
}
#menu .menu-item h2{
	font-family: NovecentowideBold;
	color: #393939;
	font-size: 12px;
	margin-bottom: 5px;
	position: relative;
	top: 17px;
}
/*
#menu .menu-item .sub-menu{
	position: relative;
	top: -35px;
	left: -10px;
	width: 500px;
}
*/
#menu .menu-item .menu-lane{
	width: 102px;
	height: 3px;
	background: #a2d4dd;
	display: block;
	margin-bottom: 5px;
}
#menu .menu-item h3{
	float: left;
	font-family: NovecentowideLight;
	color: #393939 ;
	font-size: 10px;
	position: relative;
	top: -17px;
}
/*------------------------------------*\
	$PART 1 (greg)
\*------------------------------------*/
#production_mondial{
	width:960px;
	height:768px;
	margin: 10px auto;
}
#animation2{
	margin-left:260px;
	height:675px;
	margin-top:27px;
}
#vin_2,#biere_2,#graduation_2,#bouteilles_2{display: inline-block;}
#bouteilles_2{margin-top:30px;}
#vin_2{	min-width:106px;}
#biere_2{min-width:275px;}
#graduation_2{margin-top:10px; height:675px;}
#graduation_2 img{margin-top:10px;}
#nbVin2, #nbBiere2{
	font-size:37.5px;
	font-family:'NovecentowideBold';
	color:#393939;
}
#nbVin2{
	width:94px;
	text-align:center;
}
#nbBiere2{
	width:212px;
	text-align:center;
}
#blocAnimation_2, #tiret21, #tiret22{position: absolute;}

#tiret21,#tiret22{
	width:360px;
	height:2px;
	background: url("../img/2_tirets.png") repeat-x ;
	margin-left:38px;
}

#tiret21{margin-top:532px;}
#tiret22{margin-top:42px;}

/*------------------------------------*\
	$PART 1 (cedric)
\*------------------------------------*/
/*--- PRODUCTION ---*/
#marche{
	width:820px;
	height:450px;
	margin:100px auto;
	position:relative;
}
#marche li.diagram{
	width:0px;
	height:20px;
}
#production_biere li.diagram{
	background: url('../img/4_biere.png') repeat;
	margin-bottom:8px;
}
#production_vin li.diagram{
	background: url('../img/4_vin.png') repeat right;
	margin-bottom:8px;
}
#marche li{
	clear:both;
}
#marche span{
	font-family: 'NovecentowideLight';
	font-size:16px;
}
#marche li.left{
	float:right;
}
#production_biere{
	position:absolute;
	top:0px;
	width:400px;
	right:0px;
}
#production_vin{
	position:absolute;
	width:400px;
	top:0px;
	text-align:right;
}
/*--- IMPORT ---*/

#import li, #export li{
	clear:both;
	font-family: 'NovecentowideLight';
	font-size:16px;
}
#import li.left, #export li.left{
	float:right;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url('../img/texture_vin.png') repeat;
}
#import li.diagram:not(.left), #export li.diagram:not(.left){
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background: url('../img/texture_biere.png') repeat;
}
#import,#export{
	width:820px;
	height:650px;
	margin:100px auto;
	position:relative;
}
#import li.diagram, #export li.diagram{
	width:0px;
	height:39px;
	margin-bottom:8px;
	overflow:hidden;
	font-family: 'NovecentowideLight';
	font-size:14px;
}
#vin_import,#vin_export{
	position:absolute;
	width:400px;
	top:0px;
	text-align:right;
}
#biere_import,#biere_export{
	position:absolute;
	top:0px;
	width:400px;
	right:0px;
}
/*------------------------------------*\
	$PART 2 (cedric)
\*------------------------------------*/
/*--- PLUS CONSOMMÉ ---*/
#plus_consom{
	width:600px;
	height:400px;
	margin:100px auto;
	position:relative;
}
/*--- PLUS GROS CONSOMMATEURS ---*/
#best_consom{
	width:600px;
	height:400px;
	margin:100px auto;
	position:relative;
}


/*------------------------------------*\
	$PART 3 (hugo)
\*------------------------------------*/
/*---Nuage de TAG écologie--*/
#nuageDeTag {
	width: 100%;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -70px;
}
#nuageDeTag p {
	width: 100%;
	text-align: center;
	line-height: 24px;
	/*width: 665px;
	text-align: center;*/
}
#nuageDeTag p a {
	font-size: 16px;
	text-decoration: none;
}
#nuageDeTag p a.nuageBiere:hover, #nuageDeTag p a.nuageVin:hover {
	color: #878787;
}
#nuageDeTag p a.nuageBold {
	font-family: 'NovecentowideBold';
}
#nuageDeTag p a.nuageBook {
	font-family: 'NovecentowideBookRegular';
}
#nuageDeTag p a.nuageVin {
	color: #8e0f0a;
}
#nuageDeTag p a.nuageBiere {
	color: #fbcf0d;
}
#nuageDeTag p#nuageLine1 {
	margin-left: -4061px;
}
#nuageDeTag p#nuageLine2 {
	margin-left: 4012px;
}
#nuageDeTag p#nuageLine3 {
	margin-left: -4022px;
}
#nuageDeTag p#nuageLine4 {
	margin-left: 4000px;
}
#nuageDeTag p#nuageLine5 {
	margin-left: -4042px;
}
#nuageDetails {
	height: 70px;
	width: 528px;
	margin: 0 auto;
	position: relative;
	top: 60%;
}
#nuageDetails #nuageTexte {
	width: 445px;
	height: 50px;
	background: #f0f0f0;
	margin: 0 auto;
	position: relative;
	z-index: 3;
	border: solid 1px #f0f0f0;
	font-family: Verdana;
	text-transform: none;
	font-size: 12px;
	text-align: center;
	color: #808080;
	padding-top: 20px;
	line-height: 15px;
}
#nuageDetails #nuageIconVin {
	height: 57px;
	width: 57px;
	background: url('../img/8_iconVin.png') no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	left: 45px;
	z-index: 2;
}
#nuageDetails #nuageIconBiere {
	height: 57px;
	width: 57px;
	background: url('../img/8_iconbiere.png') no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	right: 45px;
	z-index: 2;
}

/*------------------------------------*\
	$PART 4 (hugo)
\*------------------------------------*/
/*---litre d'eau pour la production--*/

#litreEau {
	height: 386px;
	width: 569px;
	position: relative;
	top: 50%;
	margin: 0 auto;
	margin-top: -193px;
}
#litreEau #raisin {
	width: 317px;
	height: 100%;
	background: url('../img/12_raisin.png') no-repeat left bottom;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -3000px;
}
#litreEau #cereales {
	width: 194px;
	height: 100%;
	background: url('../img/12_cereales.png') no-repeat right bottom;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 3000px;
}
#litreEau #raisin ul {
	width: 96px;
	position: absolute;
	bottom: -3000px;
	right: 10px;
}
#litreEau #cereales ul {
	width: 96px;
	position: absolute;
	bottom: 3000px;
	left: 50px;
}
#litreEau li {
	height: 30px;
	width: 18px;
	background: url('../img/12_goutte.png') no-repeat center center;
	background-size: 18px;
	float: left;
	cursor: pointer;
	margin-left: 1px;
}
#litreEau li.hugoclr {
	clear: both;
}
#litreEau #raisin li.litreTxt {
	background: url('../img/12_raisinTxt.png') no-repeat left bottom;
	height: 92px;
	width: 95px;
	background-size: 95px;
	cursor: default;
}
#litreEau #cereales li.litreTxt {
	background: url('../img/12_cerealesTxt.png') no-repeat left bottom;
	height: 87px;
	width: 95px;
	background-size: 95px;
	cursor: default;
}
