/*------------------------------------*\
	$MAIN
\*------------------------------------*/
@font-face {
    font-family: 'NovecentowideBookRegular';
    src: url('../fonts/novecentowide-book/novecentowide-book.eot');
    src: url('../fonts/novecentowide-book/novecentowide-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-book/novecentowide-book.woff') format('woff'),
         url('../fonts/novecentowide-book/novecentowide-book.ttf') format('truetype'),
         url('../fonts/novecentowide-book/novecentowide-book.svg#NovecentowideBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideBold';
    src: url('../fonts/novecentowide-bold/novecentowide-bold.eot');
    src: url('../fonts/novecentowide-bold/novecentowide-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-bold/novecentowide-bold.woff') format('woff'),
         url('../fonts/novecentowide-bold/novecentowide-bold.ttf') format('truetype'),
         url('../fonts/novecentowide-bold/novecentowide-bold.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideLight';
    src: url('../fonts/novecentowide-light/novecentowide-light.eot');
    src: url('../fonts/novecentowide-light/novecentowide-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-light/novecentowide-light.woff') format('woff'),
         url('../fonts/novecentowide-light/novecentowide-light.ttf') format('truetype'),
         url('../fonts/novecentowide-light/novecentowide-light.svg#NovecentowideLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#page{
	font-family: 'NovecentowideBookRegular';
	font-size:20px;
	color:#C5C5C5;
}

#content{
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

.pages{
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.pages .subpages{
	display: block;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: grey;
}
#production{
	background: green;
}
#consommation{
	background: yellow;
}
#sante{
	background: pink;
}
#environnement{
	background: black;
}
#internet{
	background: brown;
}
#divers{
	background: red;
}

#production1{
	background: pink;
}

#production2{
	background: red;
}

/*------------------------------------*\
	$PART 1 (greg)
\*------------------------------------*/
#production_mondial{
	width:960px;
	height:768px;
	margin: 10px auto;
}
#animation2{
	margin-left:260px;
	height:675px;
	margin-top:27px;
}
#vin_2,#biere_2,#graduation_2,#bouteilles_2{display: inline-block;}
#bouteilles_2{margin-top:30px;}
#vin_2{	min-width:106px;}
#biere_2{min-width:275px;}
#graduation_2{margin-top:10px;}
#nbVin2, #nbBiere2{
	font-size:37.5px;
	font-family:'NovecentowideBold';
	color:#393939;
}
#nbVin2{
	width:90px;
	text-align:center;
}
#nbBiere2{
	width:210px;
	text-align:center;
}
#blocAnimation_2, #tiret21, #tiret22{position: absolute;}

#tiret21,#tiret22{
	width:360px;
	height:2px;
	background: url("../img/2_tirets.png") repeat-x ;
	margin-left:38px;
}

#tiret21{margin-top:532px;}
#tiret22{margin-top:42px;}

/*------------------------------------*\
	$PART 1 (cedric)
\*------------------------------------*/
/*--- PRODUCTION ---*/
#marche{
	width:820px;
	height:450px;
	margin:100px auto;
	position:relative;
}
#marche li.diagram{
	width:0px;
	height:20px;
}
#production_biere li.diagram{
	background: url('../img/4_biere.png') repeat;
	margin-bottom:8px;
}
#production_vin li.diagram{
	background: url('../img/4_vin.png') repeat right;
	margin-bottom:8px;
}
#marche li{
	clear:both;
}
#marche span{
	font-family: 'NovecentowideLight';
	font-size:16px;
}
#marche li.left{
	float:right;
}
#production_biere{
	position:absolute;
	top:0px;
	width:400px;
	right:0px;
}
#production_vin{
	position:absolute;
	width:400px;
	top:0px;
	text-align:right;
}
/*--- IMPORT ---*/

#import li, #export li{
	clear:both;
	font-family: 'NovecentowideLight';
	font-size:16px;
}
#import li.left, #export li.left{
	float:right;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	background: url('../img/texture_vin.png') repeat;
}
#import li.diagram:not(.left), #export li.diagram:not(.left){
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background: url('../img/texture_biere.png') repeat;
}
#import,#export{
	width:820px;
	height:650px;
	margin:100px auto;
	position:relative;
}
#import li.diagram, #export li.diagram{
	width:0px;
	height:39px;
	margin-bottom:8px;
	overflow:hidden;
	font-family: 'NovecentowideLight';
	font-size:14px;
}
#vin_import,#vin_export{
	position:absolute;
	width:400px;
	top:0px;
	text-align:right;
}
#biere_import,#biere_export{
	position:absolute;
	top:0px;
	width:400px;
	right:0px;
}
/*------------------------------------*\
	$PART 2 (cedric)
\*------------------------------------*/
/*--- PLUS CONSOMMÉ ---*/
#holder {
	height: 230px;
    margin: -115px 0 0 -310px;
    width: 620px;
}